body {
    font-family: "Mitr", sans-serif !important;
    color: var(--white-text-color);
}

.bg-color {
    background-color: #1F1C2B;
}

.nav-bar,
.nav-link {
    color: white !important;
}

:root {
    --padding-top: 88px;
    --nav-hover-color: 1px solid #fff;
    --btn-expland-color: #D82B35;
    --blue-text-shadow-379AFC: 3px 2px 6px #FF7D31 !important;
    --blue-btn-bg: transparent linear-gradient(180deg, #FF7D31 0%, #FF7D31 100%) 0% 0% no-repeat padding-box;
    --blue-btn-border: 1px solid #FF5000;
    --white-text-color: #fff !important;
    --theme-text-color: #FF5000;
    --button-text-xlg: normal normal normal 18px/35px Kanit;
    --nav-text-xlg: normal normal normal 24px/35px Kanit;
    --dark-btn-bg: transparent linear-gradient(180deg, #122033 0%, #080E16 77%, #000000 100%) 0% 0% no-repeat padding-box;
    --blue-box-shadow: inset 0px 3px 6px #00000029, 0px 0px 10px #FF7D31;
    --nav-text-lg: normal normal normal 20px/35px Kanit;
    --button-text-sm: normal normal normal 15px/30px Kanit;
    --button-width-lg: 115px;
    --button-width-sm: 100px;
    --button-height-lg: 35px;
    --button-height-sm: 30px;
    --blue-text-shadow-4D9EF8: 3px 2px 6px #FF7D31 !important;
    --blue-text-shadow-299FF5: 3px 3px 6px #FF7D31 !important;
    --border-main: 3px solid #D82B35;
    --border-thick: 5px solid #FF5000;
    --border-thin: 1px solid #FF50008;
    --play-bg-color: #FF7D31;
    --light-bg-gradient: transparent linear-gradient(180deg, #FF5000 0%, #1A264A 100%) 0% 0% no-repeat padding-box;
    --table-text-color: #FF7D31;
    --deposite-btn-color: #FF7D31;
    --withdraw-btn-color: #FF7D31;
}

.btn-expland {
    --bs-btn-color: rgb(0, 0, 0) !important;
    --bs-btn-bg: #ffd900 !important;
    --bs-btn-border-color: #ffd900;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(246, 180, 0);
    --bs-btn-hover-border-color: rgb(246, 180, 0);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgb(246, 180, 0);
    --bs-btn-active-border-color: rgb(246, 180, 0);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffd900;
    --bs-btn-disabled-border-color: #ffd900;
}


.page-links:hover {
    border-bottom: var(--nav-hover-color)
}

.nav-bar {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100vw !important;
    height: 88px;
    background-color: #D82B35;
}

.nav-bar .title-th {
    font-size: 1rem;
}

.nav-bar .title-en {
    font-size: 0.8rem;
}

.navbar {
    background-color: #D82B35;
}

.btn-register {
    font-size: 1.8rem;
    border: 1px solid #FFFFFF;
    background-color: #D82B35;
    border-radius: 10px;
    text-shadow: 0px 2px 3px #00000087;
    color: #ffffff;
    width: fit-content;
    padding: 1rem 5rem;
}

.btn-register:hover {
    cursor: pointer;
    transform: scale(1.05)
}

.bg-header {
    padding-top: var(--padding-top);
    background-image: url("./static/bg-head.png");
    min-height: 10vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-header .bg-model {
    max-height: 400px !important;
}

.branner-detail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-header-2 {
    background-image: url("./static/bg-head-2.png");
    min-height: 10vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sub-menu .sub-menu-col {
    background: #D82B35;
    border: 1px solid #FFFFFF;
    color: var(--white-text-color);
    text-align: center;
    padding: 1rem 0rem;
    transition: 0.2s;
}

.sub-menu .sub-menu-col:hover {
    background: #7E272D;
    cursor: pointer;
}


.branner-detail-content {
    width: fit-content;
}

.content-event-1 {
    color: var(--white-text-color);
}

.content-event-1-image img {
    max-width: 80vw;
}

.bg-content-col {
    padding: 5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white-text-color);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.bg-content-col h3 {
    transition: 0.2s;
}

.bg-content-col:hover h3 {
    cursor: pointer;
    font-size: 2rem !important;
}

#bg-content-col-1 {
    background-image: url("./static/bg-content/1.png");
}

#bg-content-col-2 {
    background-image: url("./static/bg-content/2.png");
}

#bg-content-col-3 {
    background-image: url("./static/bg-content/3.png");
}

#bg-content-col-4 {
    background-image: url("./static/bg-content/4.png");
}



.base-footer {
    background: #D82B35;
    border: 1px solid #D82B35;
}

.main-section {
    padding-top: var(--padding-top);
    width: 100%;
    height: auto;
    background-color: #122033;
}

.wire-frame-theme-w-900 {
    max-width: 900px !important;
}

.wire-frame-theme {
    margin: 3rem 0px;
    padding: 2rem;
    border: var(--border-main);
    border-radius: 40px;
    box-shadow: var(--blue-box-shadow);
    align-items: center;
    background: transparent linear-gradient(0deg, #2E2E2E 0%, #101D32 74%, #0F0F10 100%) 0% 0% no-repeat padding-box;
}

.bubble-wire-frame {
    width: 15rem;
    border: var(--border-main);
    border-radius: 100px;
    align-items: center;
    text-align: center;
    color: var(--white-text-color) !important;
}

.wire-frame-theme h1,
.wire-frame-theme h2,
.wire-frame-theme h3,
.wire-frame-theme h4 {
    text-align: center;
    color: var(--white-text-color) !important;
    text-shadow: var(--blue-text-shadow-379AFC);
}



button[type=submit] {
    margin-top: 10px;
    width: 100%;
    height: 64px;
    font-size: 2.0rem;
    border-radius: 60px;
    color: var(--white-text-color);
    background: transparent linear-gradient(180deg, #ff0000 0%, #710b00 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 20px #ff0000;
    border: 3px solid #a80000;
}

form>div {
    margin: 1rem 0rem
}

.long-field {
    width: 100%;
    height: 45px;
    border: 1px solid #707070;
    background-color: #fff;
    border-radius: 3px;
    display: flex;
}

.long-field>input {
    flex-grow: 1;
    padding-left: 15px;
}

.short-field {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.short-field>* {
    width: 46%;
    min-width: 145px;
    padding-left: 15px;
    border: 1px solid #707070;
    background-color: #fff;
    border-radius: 3px;
}

.promotion-card {
    padding: 1rem;
    min-height: 80px;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.promotion-card .explan-btn {
    width: fit-content;
}